.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Black.woff");
  font-weight: 900;
}

body {
  overflow-x: hidden;
  background-color: #f6f6f6;
  color: #000000;
  font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.m-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 18px 0 0 0;
  z-index: 1;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__toggle {
    display: none;
    padding: 10px 0 10px 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(1.1);
      text-decoration: none;
    }
  }

  &__logo {
    display: block;
    position: relative;
    margin-right: 100px;
  }

  &__nav {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
        margin-right: 25px;
        color: #3c3c3c;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #f2572d;
          text-decoration: none;
        }
      }
    }
  }

  &__info {
    display: inline-block;
    margin: 0;
    color: #3c3c3c;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
  }

  &__call {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: flex-end;
  }

  &__phone {
    display: inline-block;
    margin-bottom: 0;
    color: #3c3c3c;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #f2572d;
      text-decoration: none;
    }
  }

  &__link {
    display: inline-block;
    color: #f2572c;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover {
      color: #3c3c3c;
      text-decoration: none;
    }
  }
}

.m-top {
  display: block;
  position: relative;
  width: 100%;

  &__image {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: -30px auto 0 auto;
  }
}

.m-services {
  display: block;
  position: relative;
  width: 100%;
  min-height: 744px;
  margin-top: -260px;
  padding: 215px 0 20px 0;
  background: url('../images/services_bg.svg') no-repeat center top;
  background-size: cover;
  z-index: 1;

  &__title {
    display: block;
    margin: 0 0 85px 0;
    color: #3c3c3c;
    font-size: 50px;
    font-weight: 700;
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }

  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 0 24px 0;

    &-image {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      width: 40px;
      height: 25px;

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-title {
      display: inline-flex;
      margin: 0;
      color: #3c3c3c;
      font-size: 20px;
      font-weight: 500;
    }
  }
}


.m-about {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -80px;
  padding: 120px 0 85px 0;
  background: url('../images/about_bg.jpg') no-repeat center bottom;
  background-size: cover;

  &__title {
    display: block;
    margin: 0 auto 40px auto;
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
  }

  &__text {
    display: block;
    width: 100%;
    max-width: 970px;
    margin: 0 auto 60px auto;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
    text-align: center;
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }

  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 auto 60px auto;
    text-align: center;
    z-index: 2;
    transition: all 0.3s ease-out;

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 250px;
      height: 250px;
      border-radius: 999rem;
      background-position: center center;
      background-size: cover;
      transition: all 0.3s ease-out;

      &_active {
        width: 100%;
      }
    }

    &__text {
      display: block;
      position: relative;
      width: 250px;
      height: 100%;
      border-radius: 999rem;
      margin: 0;
      padding: 24px 80px;
      background: #ffffff;
      color: #404040;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.43;
      opacity: 0;
      overflow: hidden;

      &-scroll {
        display: block;
        width: 100%;
        height: 100%;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 8px;
          background: transparent;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          background-color: #f6f6f6;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          border-radius: 5px;
          background-image: linear-gradient(to top, #ce393b 0%, #f3582c 100%);
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      }

      transition: all 0.3s ease-out;

      &_active {
        width: 100%;
        opacity: 1;
      }
    }

    &__plus {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      right: -17px;
      width: 60px;
      height: 60px;
      margin-top: -30px;
      border-radius: 999rem;
      box-shadow: 0 9px 54px rgba(237, 83, 46, 0.5);
      background-image: linear-gradient(to top, #ce393b 0%, #f3582c 100%);

      &_active {
        transform: rotate(45deg);
      }

      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        transform: scale(1.1) rotate(45deg);
        text-decoration: none;
      }
    }

    &__title {
      display: block;
      width: 100%;
      max-width: 270px;
      margin: 16px 0 0 0;
      color: #ffffff;
      font-size: 27px;
      font-weight: 700;
      text-align: center;
    }
  }
}

.m-doctors {
  display: block;
  position: relative;
  width: 100%;
  min-height: 1130px;
  margin-top: -310px;
  padding: 360px 0 155px 0;
  background: url('../images/doctors_bg.svg') no-repeat center top;
  background-size: cover;
  z-index: 1;

  &__title {
    display: block;
    margin: 0 0 45px 0;
    color: #3c3c3c;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
  }

  &__wrapper {
    position: relative;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 340px;
      height: 100%;
      background-image: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      z-index: 2;
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 340px;
      height: 100%;
      background-image: linear-gradient(to left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      z-index: 2;
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }

  .swiper-container {
    overflow: visible !important;
  }

  .swiper-slide {
    width: auto !important;
  }

  .swiper-scrollbar {
    height: 15px;
    bottom: -70px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #f6f6f6;
  }

  .swiper-scrollbar-drag {
    width: 45px;
    height: 45px;
    margin-top: -16px;
    border-radius: 999rem;
    background: url('../images/custom_scroll.png') no-repeat center center;
    background-size: contain;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 305px;
    max-width: 305px;
    text-align: center;

    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 230px;

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-content {
      display: block;
      width: 100%;
      height: 202px;
      overflow: hidden;
    }

    &-name {
      display: block;
      margin: 0 0 16px 0;
      color: #3c3c3c;
      font-size: 16px;
      font-weight: 700;
    }

    &-who {
      display: block;
      margin: 0 0 12px 0;
      color: #3c3c3c;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.13;
    }

    &-text {
      display: block;
      margin: 0;
      opacity: 0.5;
      color: #3c3c3c;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.m-exp {
  display: block;
  position: relative;
  width: 100%;
  min-height: 900px;
  padding: 130px 0 160px 0;
  background: url('../images/exp_bg.svg') no-repeat center top;
  background-size: cover;
  z-index: 1;

  &__title {
    display: block;
    margin: 0 0 45px 0;
    color: #3c3c3c;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
  }

  &__cards {
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    box-shadow: 0 20px 49px 5px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    background-color: #ffffff;
  }

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 234px;
    border-right: 1px solid #d0d0d0;
    background-position: center center;
    background-size: cover;

    &:first-child {
      border-radius: 40px 0 0 40px;

      .m-exp__card-content {
        border-radius: 40px 0 0 40px;
      }
    }

    &:last-child {
      border-right: 0;
      border-radius: 0 40px 40px 0;

      .m-exp__card-content {
        border-radius: 0 40px 40px 0;
      }
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      min-height: 500px;
      padding: 26px 30px;
      background: #ffffff;
      transition: all 0.2s ease-out;
    }

    &-number {
      display: block;
      margin: 0;
      color: #f0552d;
      font-size: 50px;
      font-weight: 300;
      transition: all 0.2s ease-out;
    }

    &-image {
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      padding: 120px 0 0 0;

      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
    }

    &-title {
      display: block;
      margin: 0;
      color: #3c3c3c;
      font-size: 20px;
      font-weight: 400;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      .m-exp__card-content {
        background: transparent;
      }

      .m-exp__card-number {
        color: #ffffff;
      }

      .m-exp__card-image {

        img,
        svg {
          opacity: 0;
        }
      }

      .m-exp__card-title {
        color: #ffffff;
      }

      text-decoration: none;
    }
  }
}

#map {
  display: block;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.m-footer {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -115px;
  padding: 160px 0 40px 0;

  &__contacts {
    display: block;
    position: relative;
    width: 100%;
    max-width: 305px;
    z-index: 2;
  }

  &__title {
    display: block;
    margin: 40px 0 75px 0;
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
  }

  &__phone {
    display: block;
    margin: 0 0 30px 0;
    color: #fefefe;
    font-weight: 500;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #f2572d;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    margin: 0 0 25px 0;
    color: #fefefe;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.13;
  }

  &__link {
    display: block;
    margin: 0;
    color: #fefefe;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #f2572d;
      text-decoration: none;
    }
  }

  &__social {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    widows: 100%;
    margin: 60px 0 35px 0;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      margin: 0 20px 20px 0;
      border-radius: 999rem;
      box-shadow: 0 9px 54px rgba(237, 83, 46, 0.5);
      background-image: linear-gradient(to top, #ce393b 0%, #f3582c 100%);

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        transform: scale(1.1);
        text-decoration: none;
      }
    }
  }

  &__policy {
    display: inline-block;
    margin: 0;
    color: #fefefe;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover {
      color: #f2572d;
      text-decoration: none;
    }
  }

  &__form {
    display: block;
    position: relative;
    width: 100%;
    max-width: 470px;
    padding: 65px 70px 40px 70px;
    box-shadow: 0 20px 49px 5px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    background-color: #ffffff;
    z-index: 2;

    &-title {
      display: block;
      margin: 0 0 16px 0;
      color: #3c3c3c;
      font-size: 27px;
      font-weight: 700;
    }

    &-text {
      display: block;
      margin: 0 0 40px 0;
      color: #3c3c3c;
      font-size: 18px;
      font-weight: 400;
    }

    &-input {
      display: block;
      position: relative;
      padding-bottom: 25px;

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 9px;
        height: 9px;
        top: 11px;
        left: 0;
        border-radius: 999rem;
        box-shadow: 0 9px 54px rgba(237, 83, 46, 0.5);
        background-image: linear-gradient(to top, #ce393b 0%, #f3582c 100%);
        z-index: 1;
      }

      input {
        display: block;
        width: 100%;
        margin: 0;
        padding: 6px 20px;
        border: 0;
        outline: none;
        border-bottom: 1px solid #d0d0d0;
        color: #3c3c3c;
        font-size: 18px;
        font-weight: 400;
        transition: all 0.2s ease-out;

        &:focus {
          border-color: #f2572d;
          outline: none;
        }
      }
    }

    &-button {
      display: block;
      position: relative;
      width: 100%;
      margin: 5px 0 0 0;
      padding: 20px 12px;
      border: 0;
      outline: none;
      border-radius: 999rem;
      background-image: linear-gradient(to top, #ce393b 0%, #f3582c 100%);
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        transform: scale(1.1);
        text-decoration: none;
      }
    }

    &-info {
      display: block;
      margin: 12px 0 0 0;
      opacity: 0.5;
      color: #3c3c3c;
      font-size: 13px;
      font-weight: 400;
      text-align: center;
    }
  }
}

.m-circle {
  display: block;
  position: absolute;
  border-radius: 999rem;
  box-shadow: 0 9px 54px rgba(237, 83, 46, 0.5);
  background-image: linear-gradient(to top, #ce393b 0%, #f3582c 100%);
  z-index: 3;

  &_modal {
    width: 117px;
    height: 117px;
    top: -50px;
    right: 280px;
  }

  &_top {
    &_1 {
      width: 60px;
      height: 60px;
      top: 82px;
      left: 26px;
    }

    &_2 {
      width: 140px;
      height: 140px;
      top: 45px;
      left: 165px;
    }

    &_3 {
      width: 89px;
      height: 89px;
      top: 230px;
      left: -105px;
    }

    &_4 {
      width: 105px;
      height: 105px;
      top: 100px;
      right: -83px;
    }

    &_5 {
      width: 60px;
      height: 60px;
      top: 270px;
      right: -20px;
    }
  }

  &_about {
    &_1 {
      width: 68px;
      height: 68px;
      top: -80px;
      left: -85px;
    }

    &_2 {
      width: 147px;
      height: 147px;
      top: -170px;
      right: 15px;
    }

    &_3 {
      width: 155px;
      height: 155px;
      bottom: -65px;
      left: 0px;
    }

    &_4 {
      width: 91px;
      height: 91px;
      bottom: -95px;
      right: 35px;
    }
  }

  &_exp {
    &_1 {
      width: 78px;
      height: 78px;
      top: -25px;
      left: -150px;
    }

    &_2 {
      width: 110px;
      height: 110px;
      top: -200px;
      right: -15px;
    }

    &_3 {
      width: 106px;
      height: 106px;
      bottom: -210px;
      left: -210px;
    }
  }
}

.m-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(29, 29, 29, 0.9);
  }

  &__close {
    display: block;
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      transform: scale(0.95);
      text-decoration: none;
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    height: 90vh;
    margin: 10px 0;
    padding: 0;
    background: #f6f6f6;
    overflow-x: hidden;
    overflow-y: auto;

    /* &:after {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      right: -25px;
      width: 50px;
      min-height: 100%;
      height: 100%;
      background-color: #303030;
      z-index: 1;
    } */

    &::-webkit-scrollbar {
      width: 10px;
      background: #303030;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
      background-color: #f6f6f6;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-image: linear-gradient(to top, #ce393b 0%, #f3582c 100%);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  &__article {
    display: block;
    position: relative;
    width: 100%;
    color: #3c3c3c;
    font-size: 18px;
    font-weight: 400;

    p {
      color: #3c3c3c;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.67;
    }

    &_first {
      padding: 95px 0 100px 0;
    }

    &_second {
      min-height: 610px;
      margin-top: -50px;
      padding: 115px 0 100px 0;
      background: url('../images/modal_bg_1.svg') no-repeat center top;
      background-size: cover;
    }

    &_third {
      min-height: 820px;
      margin-top: -220px;
      padding: 200px 0 180px 0;
      background: url('../images/modal_bg_2.svg') no-repeat center top;
      background-size: cover;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  &__title {
    display: block;
    width: 100%;
    max-width: 570px;
    margin: 0 0 40px 0;
    color: #3c3c3c;
    font-size: 50px;
    font-weight: 700;
  }

  &__text {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 0 15px 0;
    color: #3c3c3c;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
  }

  &__subtitle {
    display: block;
    position: relative;
    width: 100%;
    max-width: 650px;
    margin: 35px 0 45px 0;
    color: #3c3c3c;
    font-size: 27px;
    font-weight: 700;
  }

  &__methods {
    display: block;
    position: relative;
    width: 100%;
    padding: 35px 0 75px 0;

    &-cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      width: 100%;
    }

    &-card {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      width: 100%;
      flex: 1 0 230px;
      max-width: 270px;
      margin: 0 0 45px 0;
      padding: 18px 10px 2px 18px;
      background: url('../images/methods_bg.svg') no-repeat 0 0;

      &-number {
        display: block;
        margin: 0 0 8px 0;
        color: #f0552d;
        font-size: 30px;
        font-weight: 500;
      }

      &-title {
        display: block;
        height: 60px;
        overflow: hidden;
        margin: 0 0 18px 0;
        color: #3c3c3c;
        font-size: 17px;
        font-weight: 400;
        line-height: 1.67;
      }

      &-hr {
        display: inline-block;
        width: 30px;
        height: 4px;
        border-radius: 2px;
        background-image: linear-gradient(to left, #ce393b 0%, #f3582c 100%);
      }
    }
  }

  &__form {
    display: block;
    position: relative;
    width: 100%;
    margin: -90px 0 55px 0;
    padding: 55px 30px 65px 30px;
    box-shadow: 0 20px 49px 5px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    background-color: #ffffff;
    z-index: 2;

    &-title {
      display: block;
      margin: 0 0 16px 30px;
      color: #3c3c3c;
      font-size: 27px;
      font-weight: 700;
    }

    &-text {
      display: block;
      margin: 0 0 0 30px;
      color: #3c3c3c;
      font-size: 18px;
      font-weight: 400;
    }

    &-input {
      display: block;
      position: relative;
      margin-top: 10px;
      padding-bottom: 45px;

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 9px;
        height: 9px;
        top: 11px;
        left: 0;
        border-radius: 999rem;
        box-shadow: 0 9px 54px rgba(237, 83, 46, 0.5);
        background-image: linear-gradient(to top, #ce393b 0%, #f3582c 100%);
        z-index: 1;
      }

      input {
        display: block;
        width: 100%;
        margin: 0;
        padding: 6px 20px;
        border: 0;
        outline: none;
        border-bottom: 1px solid #d0d0d0;
        color: #3c3c3c;
        font-size: 18px;
        font-weight: 400;
        transition: all 0.2s ease-out;

        &:focus {
          border-color: #f2572d;
          outline: none;
        }
      }
    }

    &-button {
      display: block;
      position: relative;
      width: 100%;
      max-width: 270px;
      margin: 0;
      padding: 14px 12px;
      border: 0;
      outline: none;
      border-radius: 999rem;
      background-image: linear-gradient(to top, #ce393b 0%, #f3582c 100%);
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        transform: scale(1.1);
        text-decoration: none;
      }
    }

    &-info {
      display: block;
      margin: 0;
      opacity: 0.5;
      color: #3c3c3c;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .m-header {
    padding: 0 0 20px 0;
  }

  .m-header>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .m-header__mob {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 20px 0;
  }

  .m-header__toggle {
    display: inline-block;
  }

  .m-circle {
    display: none;
  }

  .m-header__nav {
    display: none;
    width: 100%;
    text-align: center;

    li {
      display: block;

      a {
        display: block;
        width: 100%;
        margin: 0;
        padding: 12px 24px;
      }
    }
  }

  .m-header__info {
    display: none;
    text-align: center;
  }

  .m-header__call {
    display: none;
    margin-bottom: 15px;
  }

  .m-services {
    min-height: auto;
    margin: 0;
    padding: 40px 0;
  }

  .m-services__title {
    margin: 0 0 20px 0;
    font-size: 40px;
  }

  .m-about {
    min-height: auto;
    margin: 0;
    padding: 40px 0;
    background: #3c3c3c;
  }

  .m-about__title {
    margin: 0 0 20px 0;
    font-size: 40px;
  }

  .m-about-card {
    margin-bottom: 35px;
  }

  .m-about-card__content {
    position: relative;
  }

  .m-about-card__text {
    position: relative;
    padding: 20px 10px;
    border-radius: 6px;
    font-size: 13px;
    overflow-y: auto;
  }

  .m-about-card__plus_active {
    top: -10px;
    right: -10px;
  }

  .m-about__text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.5;
  }

  .m-doctors {
    min-height: auto;
    margin: 0;
    padding: 40px 0;
    background: #ffffff;
  }

  .m-doctors__title {
    margin: 0 0 20px 0;
    font-size: 40px;
  }

  .m-exp {
    min-height: auto;
    margin: 0;
    padding: 40px 0;
  }

  .m-exp__title {
    margin: 0 0 20px 0;
    font-size: 40px;
  }

  .m-doctors__wrapper:before {
    display: none;
  }

  .m-doctors__wrapper:after {
    display: none;
  }

  .m-doctors .swiper-container {
    overflow: hidden !important;
  }

  .m-doctors__card {
    display: flex;
    width: 100%;
    max-width: 305px;
    margin: 0 auto 40px auto;
  }

  .m-doctors .swiper-scrollbar {
    bottom: 0;
  }

  .m-doctors .swiper-scrollbar-drag {
    width: 15px !important;
  }

  .m-exp__cards {
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
  }

  .m-exp__card-content {
    border-radius: 40px !important;
  }

  .m-exp__cards {
    background: transparent;
    box-shadow: none;
  }

  .m-exp__card {
    width: 100%;
    flex: 1 1 100%;
    max-width: 400px;
    margin: 0 10px 10px 10px;
    border: 0;
    border-radius: 40px !important;
    box-shadow: 0 20px 49px 5px rgba(0, 0, 0, 0.08);
  }

  .m-exp__card-content {
    min-height: 400px;
  }

  .m-exp__card-image {
    padding-top: 70px;
  }

  .m-footer {
    min-height: auto;
    margin: 0;
    padding: 40px 0;
    background: #3c3c3c;
  }

  #map {
    display: block;
    top: auto;
    left: auto;
    position: relative;
    height: 350px;
  }

  .m-footer__title {
    margin: 0 0 20px 0;
    font-size: 40px;
  }

  .m-footer__form {
    margin: 40px auto;
    padding: 30px 20px;
  }

  .m-modal__article {
    min-height: auto !important;
    margin: 0 !important;
    padding: 30px 15px 10px 15px !important;
  }

  .m-modal__title {
    margin: 0 0 20px 0;
    font-size: 36px;
  }

  .m-modal__methods-card {
    max-width: 100% !important;
  }

  .m-modal__methods {
    padding: 20px 0;
  }

  .m-modal__form {
    margin: 20px auto;
    padding: 30px 20px;
  }

  .m-modal__form-title {
    margin-left: 0;
  }

  .m-modal__form-text {
    margin-left: 0;
  }

  .m-modal__form-input {
    padding-bottom: 20px;
  }

  .m-modal__form-button {
    max-width: 100%;
    margin: 20px 0 0 0;
  }

  .m-about-card__text-scroll {
    overflow-y: visible;
  }

  .m-modal__form-title {
    text-align: center;
  }

  .m-modal__form-text {
    text-align: center;
  }

  .m-modal__form-info {
    text-align: center;
  }

  .m-header__nav {
    padding-top: 20px;
  }

  .m-doctors__card-content {
    height: 205px;
  }
}